# python -m pip install -r requirements.txt


# FastAPI
fastapi[all]
websockets

# Pydantic
pydantic

# SQLAlchemy
alembic
sqlmodel
psycopg[binary,pool]

# ODM (Object Document Mapper) for MongoDB
odmantic

# Valkey
valkey

# PyJWT, bcrypt
PyJWT
bcrypt

# Tests
pytest
pytest-asyncio
httpx

mypy